.Dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  min-height: 80vh;
  width: 1200px;
  align-self: center;
  justify-self: center;
  padding: 20px;
}

.LoadMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadMoreButton {
  background: #f5f5f5 linear-gradient(#f5f5f5, #f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 2rem;
}

.LoadMoreButton:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--second-color)
  );
}
