.Dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  min-height: 80vh;
  width: 1200px;
  align-self: center;
  justify-self: center;
  padding: 20px;
}

.UserCard {
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  padding: 10px 0px 0px 0px;
  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--second-color)
  );
}

.UserCard p {
  font-size: 14px;
}

.UserCard h3 {
  padding: 10px;
}

.UserCard img {
  width: 150px;
  height: 150px;
  border-radius: 0.5rem;
  filter: grayscale(20%);
}

.CardBot {
  display: flex;
  justify-content: flex-end;
}

.SeeMore {
  display: inline-block;
  border-radius: 1rem 0rem 1rem 0rem;
  background-image: linear-gradient(to bottom right, #b1b8be, #7c8891);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 120px;
  transition: all 0.5s;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 0 auto;
}
.SeeMore:hover {
  background-image: linear-gradient(to bottom right, #847182, #796878);
  font-style: oblique;
  transition: 0.5s;
}

.SeeMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SeeMore span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.SeeMore:hover span {
  padding-right: 20px;
}

.SeeMore:hover span:after {
  opacity: 1;
  right: 0;
}

.LoadMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadMoreButton {
  background: #f5f5f5 linear-gradient(#f5f5f5, #f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 2rem;
}

.LoadMoreButton:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--second-color)
  );
}
