.ActiveButton {
  background-color: #03a455;
  border-radius: 0.3rem;
  color: white;
  border: 1px solid #03a455;
  transition: all 0.5s;
}

.ActiveButton:hover {
  background-color: #02904b;
}

.PassiveButton {
  background-color: #fb3d41;
  border-radius: 0.3rem;
  color: white;
  border: 1px solid #fb3d41;
  transition: all 0.5s;
}

.PassiveButton:hover {
  background-color: #fb171b;
}
