.Modal {
  width: 450px;
  background-color: var(--main-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 10px 20px 10px 20px;
  border-radius: 0.3rem;
}

.Modal h2 {
    font-weight: 500;
}

.Modal span {
    font-weight: 700; 
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.Avatar {
  width: 100px;
  height: 100px;
  border-radius: 0.3rem;
  margin-top: 20px;
  box-shadow: 1px 1px 1px var(--shadow-color);
  margin-left: 6px;
}

.Buttons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 10px;
}

.ActiveButton {
  width: 70px;
  height: 30px;
  font-size: 16px;
  background-color: #03a455;
  border-radius: 0.3rem;
  color: white;
  border: 1px solid #03a455;
  font-weight: 400;
  transition: all 0.5s;
}

.ActiveButton:hover {
  background-color: #02904b;
}

.PassiveButton {
  width: 70px;
  height: 30px;
  font-size: 16px;
  background-color: #fb3d41;
  border-radius: 0.3rem;
  color: white;
  border: 1px solid #fb3d41;
  font-weight: 400;
  transition: all 0.5s;
}

.PassiveButton:hover {
  background-color: #fb171b;
}
