.Search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  font-size: 16px;
}
.Search h1 {
  margin-bottom: 10px;
}

.Form {
  width: 100%;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 20px 50px 20px 50px;
  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--second-color)
  );
}

input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.SearchButton {
  padding: 10px 20px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}


